# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
Packages/
Package.pins
Package.resolved

# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata.
.swiftpm
.build/
.build-test-debug/
.build-test-debug-sanitize-thread/
.build-test-release/

# Bazel
bazel-*

# Xcode
#
# Add this line if you want to avoid checking in source code from the Xcode workspace/project.
*.xcworkspace
*.xcodeproj

# Others

.DS_Store

# Visual Studio Code
.vscode/